  <table class="table">
  <thead>
    <th>
     <tr>商品一覧</tr>
     <tr><%= link_to "新規登録",new_admin_item_path %></tr>
    </th>
     <th scope="col">商品ID</th>
     <th>商品名</th>
     <th>税込価格</th>
     <th>ジャンル</th>
      <tr><% @items.each do |item| %>
       <th scope="col"><%= item.id %></th>
       <th scope="col"><%= item.name %></th>
       <th scope="col"><%= (item.price* 1.1).floor %></th>
       <th scope="col"><%=  item.genre.name%></th>
      </tr>
        <% end %>
   </thead>
  <tbody>
  </tbody>
 </table>
