   <h1>商品新規登録</h1>
  <%= form_with model: @item,url:admin_items_path, local:true do |f| %>
   <h4>商品画像</h4>
   <%= f.file_field :image, accept: "image/*" %>
   <h4>商品名</h4>
   <%= f.text_field :name %>
   <h4>商品説明</h4>
    <%= f.text_area :introduction %>
   <h4>ジャンル</h4>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <%#= f.hidden_field :genre_id, value: "楽しいRuby" %>
   <h4>税込価格</h4>
    <%= f.text_field :price%><br>
    <h4>販売ステータス</h4>
    <p>販売中</p><%= f.radio_button :is_active, :true %>
    <p>販売停止中</p><%= f.radio_button :is_active, :false %><br>

  <%= f.submit '新規登録' %>
<% end %>

 <table class="table">
  <thead>
   <h2>商品新規登録</h2>
     <th scope="col">商品ID</th>
     <th>商品名</th>
     <th>税込価格</th>
     <th>ジャンル</th>
      <tr>
       <tr><% @cart_items.each do |cart_item| %>
        <th scope="col"><%= @item.id %></th>
        <th scope="col"><%= @item.name %></th>
        <th scope="col"><%= @item.<%= (cart_item.item.price* 1.1).floor %>%></th>
         <% end %>
       </tr>
       <h4>注文内容</h4>
     <th>商品</th>
     <th>単価（税込）</th>
     <th>個数</th>
     <th>小計</th>
      <tr><% @cart_items.each do |cart_item| %>
       <th scope="col"><%= @order.name %></th>
       <th scope="col"><%= (cart_item.item.price* 1.1).floor %></th>
       <th scope="col"><%#= @#order.amount %></th>
       <th scope="col"><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></th>
      </tr>
        <% end %>

      <h4>請求情報</h4>
       <th>商品合計</th>
       <th>配送料</th>
       <th>ご請求額</th>
        <tr>
         <th scope="col"><%= @total %></th>
         <th scope="col"><%= @shipping_cost %></th>
         <th scope="col"><%= @total_payment %></th>
        </tr>
   </thead>
  <tbody>
  </tbody>
 </table>