<table class="table">
  <thead>
    <h4>会員一覧</h4>
     <th scope="col">会員ID</th>
     <th>氏名</th>
     <th>メールアドレス</th>
     <th>ステータス</th>
     <th></th>
      <tr><% @customers.each do |customer| %>
       <th scope="col"><%= customer.id %></th>
       <th scope="col"><%= link_to admin_customer_path(customer.id) do %>
        <%= customer.first_name %><%= customer.last_name %>
       <% end %>
       </th>
       <th scope="col"><%= customer.email  %></th>
       <th scope="col"><%= customer.is_active  %></th>
      </tr>
        <% end %>
   </thead>
  <tbody>
  </tbody>
 </table>
 <%= paginate @customers %>