<% @customer.each do |customer| %>
<div>
  <p>会員ID：<%= customer.id %></p>
  <p>氏名：<%= customer.first_name %><%= customer.last_name %></p>
  <p>メールアドレス：<%= customer.email  %></p>
  <p>ステータス：<%= customer.is_active  %></p>
 </div>
<% end %>
<%= paginate @customers %>