  <table class="table">
  <thead>
   <h2>注文履歴詳細</h2>
     <th scope="col">購入者</th>
     <th>注文日</th>
     <th>配送先</th>
     <th>支払方法</th>
     <th></th>
      <tr>
       <th scope="col"><%= @order.customer.first_name %><%= @order.customer.last_name %></th>
       <th scope="col"><%= @order.created_at %></th>
       <th scope="col">〒<%= @order.postal_code %><%= @order.address %><%= @order.customer.first_name %><%= @order.customer.last_name %></th>
       <th scope="col"><%= @order.payment_method %></th>
      </tr>

       <th scope="col">商品名</th>
     <th>単価（税込）</th>
     <th>数量</th>
     <th>小計</th>
     <th></th>
      <tr><% @order_details.each do |order_detail| %>
       <th scope="col"><%= order_detail.item.name %></th>
       <th scope="col"><%= order_detail.price %></th>
       <th scope="col"><%= order_detail.amount %></th>
       <th scope="col"><%= order_detail.price * order_detail.amount %></th>
      </tr>
        <% end %>
     <th>商品合計</th>
     <th>送料</th>
     <th>請求金額合計</th>
      <tr>
       <th scope="col"><%= @total %></th>
       <th scope="col"><%= @shipping_cost %></th>
       <th scope="col"><%= @total_payment %></th>
      </tr>
   </thead>
  <tbody>
  </tbody>
 </table>



