<table class="table">
  <thead>
     <th scope="col">郵便番号</th>
     <th>住所</th>
     <th>宛名</th>
     <th></th>
      <tr><% @addresses.each do |address| %>
       <th scope="col"><%= address.postal_code %></th>
       <th scope="col"><%= address.address %></th>
       <th scope="col"><%= address.name %></th>
       <th scope="col"><%= link_to "編集する",edit_address_path(address.id) %>
                       <%= link_to "削除", address_path(address.id),method: :delete %></th>
      </tr>
        <% end %>
   </thead>
  <tbody>
  </tbody>
 </table>

