<h2>新規会員登録</h2>


  <%= render "public/shared/error_messages", resource: resource %>

   <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
   <h4>名前</h4>
   (姓)<%= f.text_field :last_name %>
   (名)<%= f.text_field :first_name %>
   <h4>フリガナ</h4>
   (セイ)<%= f.text_field :last_name_kana%>
   (メイ)<%= f.text_field :first_name_kana %>
  <h4>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </h4>
   <h4>郵便番号（ハイフンなし）</h4>
     <%= f.text_field :postal_code %>
   <h4>住所</h4>
     <%= f.text_area :address %>
   <h4>電話番号（ハイフンなし</h4>
     <%= f.text_field :telephone_number%>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
     <%= f.submit "新規登録" %>
  </div>
<% end %>

<p>既に登録済みの方</p>
 <%= link_to  customer_session_path do %>
    こちら
 <% end %>
 からログインしてください。


