<h2>注文情報確認</h2>
<div>
  <% @order.each do |order| %>
        <p>商品名<%= order.item.name %></p>
        <p>単価（税込）<%= (order.price* 1.1).floor %></p>
        <p>数量<%= order.amount %> </p>
        <p>小計<%= (order.item.price * 1.1).floor * cart_item.amount %>
        <p></p>
  <% end %>
</div>
<p>支払方法</p>
 <%= @order.payment_method %>
<p>お届け先</p>
 <%= @order.address %>

 <%= link_to "注文を確定する",complete_path %>
