<table class="table">
  <thead>
   <h2>注文情報確認</h2>
     <th scope="col">商品名</th>
     <th>単価（税込）</th>
     <th>数量</th>
     <th>小計</th>
     <th></th>
      <tr><% @cart_items.each do |cart_item| %>
       <th scope="col"><%= cart_item.item.name %></th>
       <th scope="col"><%= (cart_item.item.price* 1.1).floor %></th>
       <th scope="col"><%= cart_item.amount %></th>
       <th scope="col"><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></th>
      </tr>
        <% end %>

     <th>送料</th>
     <th>商品合計</th>
     <th>請求金額</th>
      <tr>
       <th scope="col"><%= @shipping_cost %></th>
       <th scope="col"><%= @total %></th>
       <th scope="col"><%= @total_payment %></th>
      </tr>
   </thead>
  <tbody>
  </tbody>

 </table>
   <%= form_with model: @order,url: orders_path,method: :post, local:true do |f| %>
   <%= f.hidden_field :amount %>
   <%= f.hidden_field :payment_method %>
   <%= f.hidden_field :address %>
   <%= f.hidden_field :postal_code %>
   <%= f.hidden_field :total_payment %>
   <%= f.hidden_field :shipping_cost %>
   <p>支払方法<%= @order.payment_method %></p>

   <p>お届け先<%= @order.address %><%= @order.postal_code %><%= @order.name %></p>

   <%= f.submit "注文を確定する" %>
   <% end %>

